body {
    background-color: rgb(231, 193, 193);
}

body>a{
    color:rgb(60, 14, 124);
    text-decoration: underline;
    font-size: 18px;
}

.offpage{
    position: absolute;
    left: -1000px;
}

.offpage:focus{
    position: absolute;
    left: 0;
    top: -4px;
}

nav>ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    background-color: rgb(95, 62, 18);
    padding: 10px;
}

ul li {
    padding: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid rgb(221, 158, 42);
    border-radius: 10px;
}

ul li:hover {
    background-color: rgb(224, 177, 89);
}

a {
    color: rgb(247, 244, 244);
    text-decoration: none;
}



h1 {
    color: black;
    text-align: center;
}

footer{
    display:block;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(241, 238, 234);
}

/* CSS for Home Page */
.intro-image{
    display: grid;
    grid-template-columns: auto auto;
    justify-content:center;
    
}

.intro-image img{
    border: 1px solid black;
    border-radius: 15px;
    width:270px;
    height:270px;
    padding: 20px;
    margin:2px;
    background-color: rgba(243, 236, 236,0.8);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.intro-image img:active{
    transform: translateY(2px);
    background-color: rgb(243, 236, 236);
    box-shadow: none;
}

.intro-image img:hover{
    background-color: rgb(243, 236, 236);
}


/* CSS for Divisibility Pages */

.container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container div {
    background-color: rgb(95, 62, 18);
    color: white;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    text-align: center;
    align-content: center;

}

.properties {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    
}

.properties div {
    background-color: rgb(145, 86, 156);
    color: white;
    padding: 10px;
}

.properties a{
    font-size: 18px;
}


.even:hover,
.multiple-of-3:hover,
.multiple-of-5:hover,
.special:hover {
    background-color: rgb(86, 145, 156);
}

/* CSS for Transformation Page */

.shape {
    display: flex;
    justify-content: center;
    align-items: center;

}

.circle {
    background-color: aqua;
    width: 225px;
    height: 225px;
    border-radius: 50%;
    align-content: center;
    text-align: center;
    margin: 20px;
    transition: all 2s ease;
}

.circle:hover {
    background-color: rgb(203, 240, 143);
    width: 450px;
    height: 225px;
    border-radius: 50%;
    align-content: center;
    text-align: center;
}

.square {
    background-color: rgb(235, 127, 186);
    width: 225px;
    height: 225px;
    align-content: center;
    text-align: center;
    margin: 20px;
    transition: all 2s ease;
}

.square:hover {
    background-color: rgb(203, 240, 143);
    width: 450px;
    height: 225px;
    align-content: center;
    text-align: center;
}

.triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: rgb(165, 180, 247);
    width: 225px;
    height: 225px;
    align-content: end;
    text-align: center;
    margin: 20px;
    transition: all 2s ease;
}

.triangle:hover {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: rgb(203, 240, 143);
    width: 450px;
    height: 225px;
    align-content: end;
    text-align: center;
}

.triangle p {
    padding: 3px;

}






